<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Portfolio </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/deneme2.styles.css" asp-append-version="true" />


</head>

<body class="grad">
    <div class="image">

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#1">Projects</a>
        <a href="#2">About</a>
        <a href="#3">Contact</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
       
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
            @RenderBody()
        <div class="content"></div>
        <div class="overlay"></div>
    </div>
    <header>

    </header>

    <div class="container">
        <main role="main" class="pb-3">

        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



</body>
</html>