@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style=" color:black;">
    <h1 class="display-4"></h1>

 <p>

   @*  <img 
        src="lib/space3.jpg" style="width:100%; heigt:auto; justify:end ;opacity:0.5;   position: sticky;" /> *@ 
        <div style="color:white;">
            <p >
        <br />  <br />   <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />  
        <span ">

          <h1 >
             I'm Polat, İlayda Polat. Nice to meet you! 
        </h1>
        <h1> 

            I am an ambitious girl with big dreams (like almost any other human being).
        </h1>
        <h1>

            I won't be writing uninteresting or boring infos about me, they are all in my CV anyways!
            <br>
             Also i would like to share snipets of my other projects. You can see the details and how they are working, just click the name of the project!
            </h1>
        </span>
            <br />  <br />   <br />  <br />  <br />  <br />  <br />  <br />  

        </p>
        </div>
    </div>
 </p>  

<div >
    <br />  <br />     <br />      <br />  <br />     <br />

    <div class="row" style="color:black; ">
        <br />  <br />     <br />
        <br />  <br />     <br />

        <div class="column">
            <div class="card" id="1">
                <img src="/lib/powgym.PNG" style="width:280px; height:200px;">
                <br />
                <h3>
                    <a href="https://www.youtube.com/watch?v=MaEvUZUrNmQ&t=2s"> POW Gym </a>
                </h3>
                <br />

                <h4>Fitness website, used free template. Made the back-end with php.</p></h4>
                <p></p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/lib/kutuphane.PNG" style="width:280px; height:200px;">
                <br />
                <h3>
                    <a href="https://youtu.be/CoFvE-WSNvA">Vuste Kütüphane</a>
                </h3><br />
                <h4>Library website, i used c# and it's a Full-stack website.</p></h4>
                <p> 
                  2nd url  https://youtu.be/hNzB8i-ah78
                </p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/lib/carvilla.PNG" style="width:280px;  height:200px;">
                <br />
                <h3>
                    <a href="https://www.youtube.com/watch?v=chTK3jSGGPM"> CarVilla </a>
                </h3>
                <br />
                <h4>Car dealership website. I used free template but made the back-end with php. </p></h4>
                <p></p>
            </div>
        </div>


        <div class="column">
            <div class="card">
                <img src="/lib/ixir.PNG" style="width:280px;  height:200px;">
                <br />
                <h3>
                    <a href=""> Ixir </a>
                </h3>
                <br />
                <h4>Potion selling website, made with c#, work in progress. Full-stack</p></h4>
                <p></p>
            </div>
            <br />  <br />     <br />

        </div>
            <div class="column">
                <div class="card">
                    <img src="/lib/safari.PNG" style="width:280px;  height:200px;">
                    <br />
                    <h3>
                    <a href="https://youtu.be/dwwlmXl2Gug"> Safari </a>
                    </h3>
                    <br />
                    <h4>Travel website, it's only a front-end project</p></h4>
                    <p></p>
                </div>
            <br />  <br />     <br />            <br />  <br />     <br />
 </div>

        <div class="cont">
     <img src="/lib/rap.png" style="width:99%">

            <div class="centered" style="color:white; margin-left:15%;" id="2">
                <h2>
                I assume i should talk about myself a little more.
            </h2>
            <br />
            <h3>
            I studied in Ankara University in the field of computer programming. If i must talk about computer programming, i would say it's the deemo version of the CE. Sounds kinda bad isn't it? it's not CE nor CSE after all. 
            But still, if im being honest i very much enjoyed the field. Very fun, much recommended!
                    I prioritized learning different languages and i usually worked on full-stack side of the deving. I have python, c#, php, js, sql and (my dearest friend) html at my brain palace now. 
                    <h1 >
                    Finally here's my resume:

                    </h1>
        </h3></div>
    </div>
    <br />  <br />  
    <p>


</div>

    <img src="/lib/cv1.jpg" style="width:50%; margin-left:25%" >


<<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white"
            style="background-color: #1c2331">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4"
                 style="background-color: #6351ce">
            <!-- Left -->
            <div class="me-5">
                <span>Get connected with me on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5" id="3">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">My Portfolio</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                         By now you know me to some extend, if you would like to get in touch:
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Projects</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#1" class="text-white">POWGym</a>
                        </p>
                        <p>
                            <a href="#1" class="text-white">Carvilla</a>
                        </p>
                        <p>
                            <a href="#1" class="text-white">Ixir</a>
                        </p>
                        <p>
                            <a href="#1" class="text-white">Vuste Library</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="mailto:ilaydaninepostasi@gmail.com" class="text-white">My mail adress</a>
                        </p>
                        <p>
                            <a href="tel:+905383930425" class="text-white">Call me!</a>
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> Ankara/Çankaya. Çelikkale Cad. Aydınlar mah</p>
                        <p><i class="fas fa-envelope mr-3"></i> ilaydaninepostasi.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +90 538 393 0425</p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024 Copyright: by ilayda POLAT

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>
<!-- End of .container -->